In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('allegations_clean.csv')

In [25]:
df.notnull().sum()

crid                   26150
officer_id             26150
cat_id                 17241
recc_finding            6718
recc_outcome           16005
finding_edit           26150
outcome_edit           26150
value                  26150
beat                   25388
location               26147
add1                   19281
add2                   19733
city                   19951
incident_date          26150
start_date             26150
end_date               23710
investigator_id        26150
final_outcome_class    26150
dtype: int64

In [32]:
allegations_w_addresses = df[df['city'].notnull() & df['add1'].notnull() & df['add2'].notnull()]

In [36]:
allegations_w_addresses.to_csv('allegations_addresses.csv')

In [37]:
allegations_w_addresses.describe()

,crid,officer_id,recc_outcome,beat,add1,investigator_id
count,1.916300e+04,19163.000000,11576.000000,18982.000000,19163.000000,19163.000000
mean,1.068798e+06,3266.651307,570.172167,1076.796755,4490.754370,767.646872
std,7.959139e+05,2996.934501,125.469693,698.701224,3058.223596,440.919901
min,1.073320e+05,0.000000,0.000000,111.000000,100.000000,0.000000
25%,1.051742e+06,0.000000,600.000000,531.000000,1713.000000,383.000000
50%,1.059268e+06,2756.000000,600.000000,915.000000,4209.000000,740.000000
75%,1.066710e+06,5948.500000,600.000000,1531.000000,6746.000000,1156.000000
max,1.064519e+08,8922.000000,600.000000,4100.000000,19900.000000,1509.000000

In [16]:
df['investigator_id'].fillna(0,inplace=True)

In [18]:
df.head()

,crid,officer_id,cat_id,recc_finding,recc_outcome,finding_edit,outcome_edit,value,beat,location,add1,add2,city,incident_date,start_date,end_date,investigator_id,final_outcome_class
0,1057642,1,10B,UN,600,Unfounded,Unsustained,0,114,11,100,S COLUMBUS DR,CHICAGO IL,2012-10-07 07:30:00,2012-10-09,2013-05-16,1393,not-sustained
1,1063196,1,10U,NaN,600,No Affidavit,Unsustained,0,1423,17,1446,N TALMAN AVE,CHICAGO IL,2013-06-29 19:00:00,2013-06-29,2013-08-14,1060,not-sustained
2,1047453,2,10V,NS,600,Not Sustained,Unsustained,0,1131,19,NaN,NaN,NaN,2011-06-24 17:00:00,2011-08-04,2012-07-30,583,not-sustained
3,1049623,2,05B,UN,600,Unfounded,Unsustained,0,1524,17,5200,W HURON ST,CHICAGO IL 60644,2011-10-27 16:00:00,2011-10-27,2012-07-06,275,not-sustained
4,1049701,2,06J,NS,600,Not Sustained,Unsustained,0,1513,17,5601,W MADISON ST,CHICAGO IL 60644,2011-10-26 00:00:00,2011-10-31,2012-12-20,740,not-sustained